@import "../constants/fonts/fonts.css";

.getStartButton {
  font-family: var(--opensans-bold) !important;
  background-color: #722526;
  color: #f1af43;
  width: 150px;
  padding: 9px 0;
  border-radius: 25px;
}
.getStartTagLine {
  font-family: var(--opensans-bold) !important;
  color: #000;
}
.mainHeading {
  font-family: var(--opensans-bold) !important;
  /* font-family: serif; */
  font-weight: 600;
}
